.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.env

.chroma/
data/uploads/*
!data/uploads/.gitkeep

.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

.DS_Store
Thumbs.db

README_draft.md